.logo {
  width: 70%;
  padding: 10px;
}
.logo_white {
  width: 60%;
  padding: 5px;
}
@media (max-width: 1090px) {
  .navbar-brand {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .navbar-brand {
    width: 70%;
  }
  .logo_white {
    width: 250px;
  }
}
